[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium Web Browser
Comment=Web Browser
Exec=/usr/bin/chromium-browser %U
Icon=google-chrome
Path=/home/coder
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
