[Desktop Entry]
Version=1.0
Type=Application
Name=Wireshark
Comment=Packet Analyzer
Exec=wireshark %u
Icon=org.wireshark.Wireshark
Path=/home/coder
Terminal=false
StartupNotify=true